<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>cardolla - playing</title>
    <link href="playing.css" type="text/css" rel="stylesheet">
  </head>
  <header>
    <div class="logoutTopBox">
      <a class="logoutTop" href="#"><strong>LOGOUT</strong></a>
    </div>
    <nav class="name">
       <strong>CARD OLLA</strong>
    </nav>

  </header>
  <body>
    <br>
    <ul class="option" id="top">
      <li><a href="#">입장</a></li?>
      <li><a href="#">방만들기</a></li>
      <li><a href="#">설정</a></li>
    </ul>
    <br>
    <div class="">

    </div>
    <div class="">

    </div>
    <div class="">

    </div>
    <ul class="option" id="bottom">
      <li><a href="#">보관함</a></li>
      <li><a href="#">상점</a></li>
    </ul>
  </body>
  <footer>

  </footer>
</html>
