<!DOCTYPE html>
<html>
  <head>
    <meta name="author" content="ricky1303">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <title></title>
    <style>
      div {
        width: 300px;
        height: 400px;
        margin: 8px;
        background-color: pink;
        color: skyblue;
        text-align: center;
        font-weight: 900;
        font-style: Sans-Serif;
        font-size: 18px;
      }
      .on_users { overflow: scroll; }
      .box2 { overflow: auto; }

    </style>
  </head>
  <body>
    <div class="on_users"><br>
  <table>
    <tbody class="user_list">
    </tbody>
  </table>
    </div>
  </body>
  <script>
        $(() => {
        const socket = io();
        socket.emit('all_user_list'); //목록 불러오기

        socket.on('all_user_list', (obj) => {
          $('.user_list').empty();
          for(let i = 0; i < obj.length; i++){
            $('.user_list').append(`<tr><td id="${obj[i].ID}">LV : ${obj[i].LV} nick : ${obj[i].NICK} win : ${obj[i].WIN}</td></tr>`);
          }
        });
      });
      </script>
</html>
